.text-div {
    text-align: center;
  }
  
  /* Text styles */
  .add-food-text {
    overflow: hidden;
    white-space: nowrap;
    animation: typing 2s steps(20, end) infinite !important;
    color: grey;
    font-size: 1rem;
  }
  
  /* Animation keyframes */
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  