 footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 60px 40px 80px 40px ;
    border-top: 2px solid black; 
    width: 100%;
  }

  
  footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  
  footer .logo {
    width: 30%;
    margin-bottom: 30px;
    cursor: pointer;
  }
  
  footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
  }
  
  footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
  }
  
  footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
  }
  
  footer .follow {
    margin-top: 20px;
  }
  
  .f-icon {
    color: #465b52;
    padding-right: 7px;
    cursor: pointer;
  }

  
  footer .install .row img {
    border: 1px solid #2cad71;
    border-radius: 6px;
    cursor: pointer;
  }
  
  footer .install img {
    margin: 10px 0 15px 0;
    cursor: pointer;
  }
  
  
  footer .copyright {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }

  @media only screen and  (min-width: 500px) {
    footer{
      padding: 80px 130px 100px 130px;
    }
  }
  