.profile-container{
    align-items: flex-start;
    justify-content: initial;
    flex-direction: column;
    background-color: #F8F8F8;
    row-gap: 1rem;
}

.pro-n{
    color: #308641;
    font-size: 1.3rem;
    position: relative;
    left: 45%;
    margin-bottom: 15px;
}

.user-info{
    display: flex;
    height: 15vh;
    align-items: center;
    column-gap: 7%;
    width: 100%;
}

.user-info h1{
    color: rgba(0, 0, 0, 0.741);
    font-family: "Roboto", sans-serif;
    font-size: 2.3rem;
    font-weight: 450;
}

.pro-img{
    width: 100px;
}

.pro-att{
    display: flex;
    column-gap: 2rem;
    width: 100%;
    height: 10vh;
    padding: 10px 20px;
    align-items: center;
    position: relative;
    box-shadow: 3px 0 2px 0 #87ff9fd3; 
    border-radius: 20px;
    cursor: pointer;
}

.pro-att:hover{
    box-shadow: 2px 10px 7px 0 #87ff9fd3; 

}

.pro-att p{
    color: rgba(53, 51, 51, 0.832);
}

.arrow{
    position: absolute;
    right: 5%;
    color: rgba(128, 128, 128, 0.77);
}

.att-icon{
    padding: 10px 10px;
    color: #308641;
    background-color: #87ff9fd3;
    border-radius: 10%;
    height: 50%;
}

@media only screen and (min-width: 500px) {
    .profile-container{
        padding: 30px 120px;
    }
    
}