.read-container{
    align-items: flex-start;
    justify-content: initial;
    flex-direction: column;
    background-color: #F8F8F8;
    padding: 0;
    margin: 0;
}

.read-intro{
    background-color: #E8E8E8;
    width: 100%;
    text-indent: 1rem;
    padding:20px 10px;
    flex-wrap: wrap;
    column-gap: 4%;
    border-bottom-left-radius: 7%; 
    border-bottom-right-radius: 10%;
}

.read-name{
    font-family: 'Lobster', cursive;
    font-size: 2.8rem;
    font-weight: 300;
}

.read-blog{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10%;
    padding: 20px 15px;
}


.read{
    /* text-align: center; */
    padding: 20px 15px ;
    background-image:url("/b1.png") ;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    margin-bottom: 15px;
    transition: all ease-in-out 0.4s;
    height: 15vh;
    width: 100%;
}


.read:hover{
    box-shadow: 0 0 10px 0 #308641; 
    height: 33vh;
}

.read .read-text p {
    display: none;
}

.read:hover .read-text p {
    display: block;
}

.read-text>p{
    font-size: 0.9rem;
    font-weight: 400;
    color: rgba(231, 231, 231, 0.975) ;
}

.read-text>h3{
    margin-top: 10px;
    color: white;
    font-size: 1.2rem;
}

.read-text>h3:hover{
    margin-top: 0px;
    margin-bottom: 10px;
}

.read-more{
    color: #ffdf4f;
    padding: 1px 3px;
    margin: 0 3px;
    background-color: rgb(14, 67, 49);
    border-radius: 20%;
    cursor: pointer;
    font-family: "Spartan", sans-serif;
}


.b2{
    background-image: url("/b2.png");
}
.b3{
    background-image: url("/b3.png");
}
.b4{
    background-image: url("/b4.png") ;
}
.b5{
    background-image: url("/b5.png") ;
}

.blog-img{
    display:none;
}

.b-mar{
    margin: 20px 0;
    width: 50%;
}
/* record */


.ban-img img{
    position: absolute;
    width: 40%;
    bottom: 1%;
    right: 0 ;
}

.banner{
    margin: 0  0 20px 0;
    padding: 20px 10px 20px 20px;
    height: 29vh;
    display: flex;
    flex-direction: column;
    background-color: #49B46D; /*9e9bc8*/
    border-radius: 20px;
    width: 100%;
    box-shadow: 0 0 10px 0 #3f5024a6; 
    position: relative;
}

.headline h2{
    color: white;
}

.write-btn{
    border: none;
    padding: 10px 10px;
    color: #E2C23B;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    border-radius: 5%;
    cursor: pointer;
    transition: all 0.3s ease; 
    position: absolute;
    bottom: 19%;
    width: 50%;
}

.write-btn:hover{
    box-shadow: 0 0 7px 0 #ffdf4f; 
}

.tri-icon{
    color: #E2C23B;
    padding: 0 7px;
}

.blogspot{
    font-size: 2rem;
}

@media only screen and (min-width: 500px) {
    .read-container{
      margin-top: 5rem;
    }
    .read-intro{
        padding:20px 110px;
    }

    .read-blog{
        padding: 40px 120px;
    }


    .ban-img img{
        position: absolute;
        width: 200px;
        top: 2%;
        right: 7% ;
    }
    .headline h2{
        color: white;
        font-size: 2rem;
        
    }

    .headline h3{
        font-size: 1.6rem;
    }

    .write-btn{
        font-size: 1.2rem;
    }

    .read{
        /* text-align: center; */
        padding: 20px 40px;
        background-image:none ;
        /* background-color: grey; */
        border: solid 1px rgba(128, 128, 128, 0.322);

        border-radius: 2%;
        display: flex;
        column-gap: 6rem;
        height: 45vh;
        margin-bottom: 25px;
    }

    .banner {
        padding: 30px 100px 30px 40px;
    }

    .read-text{
        width: 50%;
        padding: 40px 20px;
    }
    .blog-img{
        display:initial;
        width: 35% ;
        border-radius: 2%;
        object-fit: cover;
    }
    .read .read-text p {
        display: block;
    }

    .read:hover{
        box-shadow: 0; 
        height: 45vh;
    }
    .read-text>p{
        font-size: 1rem;
        color: #465b52 ;
    }
    h3{
        font-size: 1.3rem;
    }
    .read-name{
        font-size: 3rem;
    }
    .read-text>h3{
        color: black;
        margin-bottom: 30px;
        
        font-size: 1.5rem;
    }
    .read-text>h3:hover{
        margin-top: 10px;
        margin-bottom: 30px;
    }
}