/* track food */
  .addFoot{
    display: none;
  }
  .back-arrow{
    height: 30px;
    display: flex;
    align-items: center;
    column-gap: 20%;
    width: 100%;
  }
  .back-arrow>p{
    font-size: 1.4rem;
    font-weight: 450;
  }
  .bak-arr{
    height: 1.8rem;
    cursor: pointer;
  }
  .search {
    width: 100%;
    padding: 10px 0px;
    position: relative;
  }
  
  .search-icon {
    position: absolute;
    bottom: 21px;
    left: 10px;
    height: 1.3rem;

  }
  .track-container{
    height: 100vh;
    align-items: flex-start;
    justify-content: initial;
    flex-direction: column;
    padding: 10px 20px 30px 20px;
    width: 100%;
    overflow-x: hidden;
  }
  
  .search-inp
  {
    width: 100%;
    height: 45px;
    padding: 5px;
    text-indent: 30px;
    outline: none;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 18px;
    transition: box-shadow 0.3s;
  }
  
  .search-inp:focus {
    box-shadow: 0 0 10px 0 #308641; 
  }
  
  
  
  .search-results
  {
    width: 100%;
    padding: 10px 5px;
    position:absolute;
    max-height: 60vh;
    overflow: hidden;
  }
  
  .search-results .food-item {
    width: 100%;
    padding: 20px;
    color: var(--normal-color);
    font-weight: 600;
    background-color: var(--back-faded);
    border-radius: 0%;
    cursor: pointer;
  }

  .notF{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 100%;
  }

  .notF img{
    width: 100%;
  }

  .search-item{
    border-bottom:  2px solid var(--normal-color);
  }

  /* .no-res{
    height: 90vh;
    overflow: hidden;
  } */


@media only screen and (min-width: 500px) {
  .addFoot{
    display: flex ;
  }
  .back-arrow{
    display: none;
  }
  .notF{
    width: 100%;
  }
  .notF img{
    width: 30%;
  }
  .track-container{
    
    padding: 30px 120px;
  }

  .search-icon {
    position: absolute;
    bottom: 21px;
    left: 20px;
    height: 1.3rem;
  }
  .search-inp
  {
    padding: 10px;
    text-indent: 40px;
  }


}

